# Local Docker PostgreSQL
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=tracker
# DB_USER=tracker
# DB_PASSWORD=tracker_dev_password
# DB_SSL_MODE=disable

# Azure Database for PostgreSQL Flexible Server
DB_HOST=student-money-db.postgres.database.azure.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=andrea
DB_PASSWORD=your_secure_password_here
DB_SSL_MODE=require
DB_POOL_SIZE=10
